.signup-container,
.login-container {
    position:relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background: linear-gradient(135deg, #1a1a2e, #16213e); */
}

.signup-title,
.login-title {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
}

.signup-form,
.login-form {
    width: 400px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.signup-form:hover,
.login-form:hover {
    transform: scale(1.02);
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.floating-label {
    position: absolute;
    left: 14px;
    /* top: 50%; */
    transform: translateY(-100%);
    font-size: 16px;
    color: #ddd;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.floating-label.active {
    top: 5px;
    font-size: 12px;
    color: #ff9a00;
}

.input-field {
    width: 100%;
    padding: 12px 14px;
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    transition: 0.3s;
}

.input-field:focus {
    border-color: #ff9a00;
    background: rgba(255, 255, 255, 0.3);
}
.option-dropdown-field{
    color:#ffffff;
    background:#1a1a2e
}
.error-message {
    color: #ff4d4d;
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(90deg, #ff9a00, #ff4d00);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.submit-btn:hover {
    background: linear-gradient(90deg, #ff4d00, #ff9a00);
    transform: translateY(-3px);
    box-shadow: 0px 5px 15px rgba(255, 154, 0, 0.4);
}

.google-login {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.login-redirect,
.signup-redirect {
    margin-top: 15px;
    font-size: 14px;
    color: #ddd;
    text-align: center;
}

.login-redirect a,
.signup-redirect a {
    color: #ff9a00;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.login-redirect a:hover,
.signup-redirect a:hover {
    color: #ff4d00;
}