.map-container {
    height:60%;
    width: 60%;
    float:left;
    /* width: 100%; */
    color:black;
    transform: scale(1.66);
    /* Adjust the scale factor as needed */
    transform-origin: top left;
    /* keeps map in place */
}
