.navbar {
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    padding: 5px 100px 5px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    /* height:65px; */
    width: 100%;
    z-index: 1000;

}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.logo:hover {
    color: #ff9a00;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
    text-shadow: 2px 2px 20px rgb(255, 255, 255);

}

.menu-toggle {
    font-size: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-link {
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #ffbb54;
    transform: translateY(3px);
    border-radius:10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);

}

.nav-btn {
    background: linear-gradient(90deg, #ff4d00, #ff9a00);
    color: white;
    margin-top: 7px;
    padding: 7px 20px;
    border-radius: 10px;
    border: none;
    display: inline-block;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

.nav-btn:hover {
    text-decoration: none;
    background: linear-gradient(90deg, #ff9a00, #ff4d00);
    transform: translateY(3px);
    color: #21164d;
}


/* Responsive */
@media (max-width: 1019px) {
    .menu-container {
        position: relative;
        display: inline-block;
    }

    .menu-toggle {
        color: #ff4d00;
        display: block;
        cursor: pointer;
        font-size: 1.8rem;
        background: none;
        border: none;
        padding: 10px;
    }

    /* Default - Menu Hidden */
    .nav-menu {
        position: absolute;
        top: 60px;
        right: -100%;
        width: 200px;
        background: linear-gradient(360deg, #1a1a2e, #16213e);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

        display: flex;
        flex-direction: column;
        padding: 0;
        height: 0;
        overflow: hidden;
    }

    /* Show menu on hover */
    .menu-container:hover .nav-menu,
    .menu-container .nav-menu.open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

        padding: 20px 0;
        height: auto;
    }
}
